.post-body{
    position: relative;
}
.img_avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    /**设置缩放**/
    /* -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all; */
}
.img_avatar:hover{
    /* -webkit-transform: scale(1.02,1.02);
    -moz-transform: scale(1.02,1.02);
    -ms-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02); */
    box-shadow: 0 0 30px #999;
    /* animation */
    animation: avatar 20s ease-in-out 1;
}
@keyframes avatar{
    0%{
        transform: rotate(0) scale(1)
    }
    100%{
        transform: rotate(144000deg) scale(5)
    }
}
.img_cap{
    position: absolute;
    top: 40px;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 0px solid #fff !important;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://b-gold-cdn.xitu.io/v3/static/img/cap.12a740a.svg);
    transform: rotate(15deg);
    transform-origin: bottom right;
    /* transition: all .2s; */
}
.main-inner{
    padding-top: 10px;
}
.posts-expand{
    padding-top: 0;
}
.img_about{
    /**设置缩放**/
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
}
.img_about:hover{
    -webkit-transform: scale(1.02,1.02);
    -moz-transform: scale(1.02,1.02);
    -ms-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);
    box-shadow: 5px 5px 30px #999;
    cursor: pointer;
}