
.blockqueto{
    text-align: center;
}
.blockqueto:before{
    top: -20px;
    background-image: url(/images/quote-l.svg);
    border-top: 1px solid #ccc;

    /* position: absolute; */
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: .2;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 22px 22px;
}
.blockqueto:after{
    bottom: 20px;
    background-image: url(/images/quote-r.svg);
    border-bottom: 1px solid #ccc;
    background-position: 100% 0;

    /* position: absolute; */
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: .2;
    background-repeat: no-repeat;
    background-size: 22px 22px;
}
.poetry{
    margin: 0;
}
.img_scale{
    /**设置缩放**/
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
}
.img_scale:hover{
    -webkit-transform: scale(1.02,1.02);
    -moz-transform: scale(1.02,1.02);
    -ms-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);
    box-shadow: 5px 5px 30px #999;
    cursor: pointer;
}